.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* flex-wrap: wrap; */
    height: 20px;
    font-weight: 700;
    


}
.input{
    background-color: rgb(205, 183, 183);
    color: aliceblue;
    border-radius: 20px;
    border: solid;
    width: 28%;
    height: 164%;
    font-weight: bolder;
    margin-top: 20px;

}

